.idea/
.DS_Store
.log
*.log
*.lock
*.swp
.git
.hg
.svn
node_modules
bower_components
*.min.js
*.min.css
*.min.html
*.min.js.map
*.min.css.map
*.map
*.gz
*.zip
*.rar
*.7z
*.tar
*.tar.gz

/main.go
/log
